@font-face {
  font-family: "ETmodules";
  src: url('ETmodules_v2_4.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ETmodules_v2_4.woff') format('woff'), 
  url('../fonts/ETmodules_v2_4.ttf')  format('truetype'), 
  url('../fonts/ETmodules_v2_4.svg#ETmodules_v2_4') format('svg');
  font-weight: normal;
  font-style: normal;
}
